################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gradient.Navigate/.vs/Gradient.Navigate
/Gradient.Navigate/Navigate/navigate.client/obj/Debug
/Gradient.Navigate/Navigate/Navigate.Server/bin/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Server/obj/Container/ContainerCreationResult.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/ref
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/refint
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/apphost.exe
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.F4B7B752.Up2Date
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.AssemblyInfo.cs
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.AssemblyInfoInputs.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.assets.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.csproj.BuildWithSkipAnalyzers
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.csproj.CoreCompileInputs.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.csproj.FileListAbsolute.txt
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.dll
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.genruntimeconfig.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.MvcApplicationPartsAssemblyInfo.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.MvcApplicationPartsAssemblyInfo.cs
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.pdb
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/Navigate.Server.sourcelink.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/rbcswa.dswa.cache.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/rpswa.dswa.cache.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/staticwebassets.build.json
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/staticwebassets.build.json.cache
/Gradient.Navigate/Navigate/Navigate.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/Gradient.Navigate/.vs/ProjectEvaluation/gradient.navigate.metadata.v9.bin
*.bin
/Gradient.Navigate/Navigate/Navigate.Application/bin/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Application/obj
/Gradient.Navigate/Navigate/Navigate.Domain/bin/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Domain/obj/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Domain/obj
/Gradient.Navigate/Navigate/Navigate.Infrastructure/bin/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Infrastructure/obj/Debug/net8.0
/Gradient.Navigate/Navigate/Navigate.Infrastructure/obj
