################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gradient.Navigate/.vs/Gradient.Navigate
